/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 body{
	width:950px;
	height:800px;
	margin:0 auto;
	border:1px solid red;	
}
.top{
	width:950px;
	height:40px;
	background-color:yellow;
}
.logo{
	width:200px;
	height:100px;
	background-color:green;
	margin-top:5px;
	float:left;
}
.navi{
	width:745px;
	height:100px;
	background-color:pink;
	margin-left:5px;
	margin-top:5px;
	float:left;
}
.ad{
	width:700px;
	height:800px;
	background-color:green;
	margin-top:5px;
	float:left;
}
.login{
	width:245px;
	height:350px;
	margin-left:5px;
	background-color:yellow;
	margin-top:5px;
	float:left;
}
.other{
	width:245px;
	height:345px;
	margin-left:5px;
	background-color:blue;
	margin-top:5px;
	float:left;
}
